[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/var/minecraft
Type=simple

PrivateUsers=true

User=minecraft
Group=minecraft

ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectControlGroups=true

InaccessibleDirectories=/root /sys /srv /media /mnt
ReadWriteDirectories=/var/minecraft /usr/bin/screen /var/log/minecraft

ExecStartPre=/bin/sh -c '/usr/bin/screen -dmS MC'
ExecStart=/bin/sh -c '/var/minecraft/bedrock_server'

ExecReload=/usr/bin/screen -p 0 -S MC -X eval 'stuff "reload"\\015'

ExecStop=/usr/bin/screen -p 0 -S MC -X eval 'stuff "say SERVER SHUTTING DOWN. Saving map..."\\015'
ExecStop=/bin/sh -c '/bin/sleep 10'
ExecStop=/usr/bin/screen -p 0 -S MC -X eval 'stuff "save-all"\\015'
ExecStop=/usr/bin/screen -p 0 -S MC -X eval 'stuff "stop"\\015'
ExecStop=/bin/sh -c '/bin/sleep 5'

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
